.bar-bg
{
    background-color: #1a1b20!important;
    box-shadow: 2px 0px 3px white;
    padding: 10px!important;
}

.bar-bg a{
    color: white!important;

}

.bar-bg a:hover 
{
    background-color: rgb(94, 93, 93);
    color: white;
}